
h1, h2, p {
  font-family: 'Raleway', sans-serif;
}

.landingUpper {
  background: url('../Images/EngineeringBackground.jpg') no-repeat fixed;
  background-size: 100%;
  height: 50em;
  /*border: 1px solid black;*/
  display: flex;
  align-items: center;
  position: relative;
}

header {
  position: relative;
}

.socials {
  line-height: 40px;
  margin-top: auto;
  position: absolute;
  right: 15%;
  top: -6px
}

.socMedia {
  width: 27px;
}

.test {
  margin: 0 0 0 8.91px;
  /*margin-right: 3%;*/
}

.compName {
  /*margin-left: auto;*/
  margin-top: 1%;
}

.landingTiles {
  width: 100%;
  position: absolute;
  bottom: 5%;
}

.tileOne {
  /*padding: 1%;*/
  border: 1px solid grey;
  width: 24%;
  height: 17.5em;
  margin-left: 5%;
  float: left;
  border: 1px solid black;
  margin-top: 2%;
  margin-bottom: 5%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  /*background-color: #F5F5F5;*/
  background: url('../Images/home.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
}

.tileTwo {
  /*padding: 1%;*/
  border: 1px solid grey;
  width: 24%;
  height: 17.5em;
  margin-left: 5%;
  margin-right: 5%;
  float: left;
  border: 1px solid black;
  margin-top: 2%;
  margin-bottom: 5%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  /*background-color: #F5F5F5;*/
  background: url('../Images/you.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
}

.tileThree {
  /*padding: .5%;*/
  border: 1px solid grey;
  width: 24%;
  height: 17.5em;
  margin-right: 5%;
  float: left;
  border: 1px solid black;
  margin-top: 2%;
  margin-bottom: 5%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  /*background-color: #F5F5F5;*/
  background: url('../Images/us.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
}

.lowerLanding {
  height: 30%;
  overflow: hidden;
}

.column {
  float: left;
}

.verticalLine {
  border-left: .5px solid grey;
}

.half {
  width: 50%;
}

.right {
  width: 30%;
  margin-left: 10%;
  padding-top: 5%;
}

.sideContact {
}

.address, .phone, .email {
  margin-left: 5%;
}


/*footer {
  border-top: 1px solid black;
}*/
